.wrapper {
  display: block;
  margin-bottom: 0.5rem;
}

.input {
  display: inline-block;
  margin-right: 0.5rem;
}

.input:checked + .label {
  color: #0d83ff;
}

.error {
  font-size: 0.875rem;
  color: #ff270d;
}
